#ancestral-fan-chart form label, input, select {
    margin: 0;
}

#ancestral-fan-chart form input.fontScale {
    width: 35px;
    text-align: right;
}

#ancestral-fan-chart .list_table {
    margin: 0;
}

#ancestral-fan-chart table td {
    vertical-align: middle;
    padding: 3px 5px;
}

#ancestral-fan-chart svg {
    display: block;
    margin: auto;
}

#ancestral-fan-chart svg g.arc path {
    stroke: #ebebeb;
    stroke-width: 3px;
}

#ancestral-fan-chart svg g.label text {
    fill: #000;
}

#ancestral-fan-chart svg g.label .date {
    fill: #7f7f7f;
    font-weight: normal;
}

#ancestral-fan-chart text {
    font-family: Verdana, Arial;
    font-weight: bold;
}
