#ancestral-fan-chart form label, input, select {
    margin: 0;
}

#ancestral-fan-chart form .fontScale {
    width: 35px;
    text-align: right;
}

#ancestral-fan-chart .list_table {
    margin: 0 auto;
}

#ancestral-fan-chart table td {
    vertical-align: middle;
    padding: 3px 5px;
}

#ancestral-fan-chart svg {
    display: block;
    margin: auto;
}

#ancestral-fan-chart svg .arc path {
    stroke: #e1e1e1;
    stroke-width: 3px;
}

#ancestral-fan-chart svg .label .chart-date {
    fill: #7f7f7f;
    font-weight: normal;
}

#ancestral-fan-chart text {
    font-weight: bold;
}
