#page-fan #fan_chart {
    position: relative;
/*
    font-family: Verdana,sans-serif;
*/
}

#page-fan table td {
    vertical-align: middle;
}

#page-fan svg {
    display: block;
    margin: auto;
    cursor: grab;
    cursor: -webkit-grab;
   -webkit-filter: drop-shadow(3px 1px 3px rgba(0, 0, 0, 0.4)));
    filter: drop-shadow(3px 1px 3px rgba(0, 0, 0, 0.4));
}

#page-fan svg:active {
    cursor: grabbing;
    cursor: -webkit-grabbing;
}

#page-fan svg text {
    font-weight: bold;
}

#page-fan svg .person.available {
    cursor: pointer;
}

#page-fan svg .person .arc path {
    fill: rgb(240, 240, 240);
    stroke: rgb(225, 225, 225);
    stroke-width: 2px;
}

#page-fan svg .person.hover .arc path {
    fill: rgb(250, 250, 250);
}

#page-fan svg .person.available .arc path {
    fill: rgb(250, 250, 250);
}

#page-fan svg .person.available.hover .arc path {
    fill: rgb(240, 240, 240);
}

#page-fan svg .label {
    font-weight: normal;
}

#page-fan svg .label .chart-date {
    fill: #7f7f7f;
    font-weight: normal;
}

#page-fan svg rect.background {
    fill: none;
    pointer-events: all;
}

#page-fan div.overlay {
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    border: 0;
    font: 10px sans-serif;
    background: rgba(0, 0, 0, 0.5);
    pointer-events: none;
    transition: opacity ease-in-out;
    transition-duration: 0s;
}

#page-fan div.overlay .tooltip {
    font-size: 22px;
    color: white;
    position: relative;
    margin: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
