# PHPStorm
.idea

# OSX
.DS_Store

# Composer
vendor/
composer.lock

# Build stuff
.build/
package-lock.json
node_modules/

# Cache
.php-cs-fixer.cache
.phplint.cache
.phpunit.result.cache
.phpunit.cache

# Custom
resources/js/fan-chart-*.js
# Allow minified file
!resources/js/fan-chart-*.min.js
webtrees-fan-chart.zip
