parameters:
    # you can currently choose from 9 levels (0 is the loosest and 8 is the strictest).
    level: 5

    paths:
        - src
        # if you have tests and want to analyze this folder, uncomment the line below
        # - test
