.wt-ajax-load:empty {
    min-height: 50dvh;
}

.webtrees-fan-fullscreen-container::backdrop {
    background-color: var(--bs-body-bg);
}

.webtrees-fan-fullscreen-container {
    position: relative;
}

/* Button toolbar */
.webtrees-fan-fullscreen-container .btn-toolbar {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.webtrees-fan-fullscreen-container .btn-chart {
    color: var(--bs-btn-bg);
    background: rgb(245, 245, 245);
    border: 1px solid rgb(210, 210, 210);
    width: 40px;
    height: 32px;
    border-radius: 30%;
    box-sizing: border-box;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    position: relative;
}

.webtrees-fan-fullscreen-container .btn-primary:hover {
    background: rgb(245, 245, 245);
}

.webtrees-fan-fullscreen-container .btn-chart:hover {
    color: var(--link-color-hover);
}

.webtrees-fan-fullscreen-container .btn-chart .icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.webtrees-fan-fullscreen-container .btn-chart .icon .svg-inline--fa {
    height: 1.5em;
    vertical-align: -0.375em;
}

.webtrees-fan-fullscreen-container .btn-fullscreen span:nth-child(2) {
    display: none;
}

/* Form */
.form-element-description {
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
}

#webtrees-fan-chart-form .row {
    margin-left: 0;
    margin-right: 0;
}

#webtrees-fan-chart-form .custom-range {
    padding-top: 4px;
}

#webtrees-fan-chart-form .custom-range-value {
    height: 26px;
    line-height: 16px;
    text-align: center;
    border-radius: 3px;
    padding: 5px 10px;
}

/* SVG */
.webtrees-fan-chart-container {
    position: relative;
    font-size: unset;
    display: flex;
    flex: auto;
}

.webtrees-fan-chart-container .rtl {
    direction: rtl !important;
    unicode-bidi: bidi-override !important;
}

/* Overlay */
.webtrees-fan-chart-container div.overlay {
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    border: 0;
    font: 10px sans-serif;
    pointer-events: none;
    transition: opacity ease-in-out;
    transition-duration: 0s;
    backdrop-filter: blur(5px);
}

@supports (-webkit-backdrop-filter: none) {
    .webtrees-fan-chart-container div.overlay {
        -webkit-backdrop-filter: blur(1em);
    }
}

.webtrees-fan-chart-container div.overlay .tooltip {
    font-size: 22px;
    color: #5a6268;
    position: relative;
    margin: 0;
    top: 50%;
    transform: translateY(-50%);
    opacity: 1;
    text-align: center;
}

@supports not ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
    .webtrees-fan-chart-container div.overlay {
        background: rgba(0, 0, 0, 0.5);
    }

    .webtrees-fan-chart-container div.overlay .tooltip {
        color: white;
    }
}

.webtrees-fan-chart-container svg {
    display: block;
    cursor: grab;
    filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.2));
}

.webtrees-fan-chart-container svg:active {
    cursor: grabbing;
}

/* Unset any style from our transition helper classes */
.webtrees-fan-chart-container svg .new,
.webtrees-fan-chart-container svg .remove,
.webtrees-fan-chart-container svg .update,
.webtrees-fan-chart-container svg .old {
    all: unset;
}

.webtrees-fan-chart-container svg .person.available {
    cursor: pointer;
}

.webtrees-fan-chart-container svg .person.hover {
    filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.3));
    filter: url('#drop-shadow');
}

div.tooltip {
    position: absolute;
    text-align: center;
    width: auto;
    max-width: 500px;
    height: auto;
    padding: 15px 5px;
    font: 12px sans-serif;
    background: rgb(240, 240, 240);
    border: 2px solid rgb(127, 127, 127);
    border-radius: 10px;
    pointer-events: none;
    filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.7));
}

div.tooltip .image {
    position: absolute;
    left: -30px;
    top: -30px;
    opacity: 1;
    width: 100px;
    height: 100px;
}

div.tooltip .image + .text {
    margin-left: 70px;
}

div.tooltip .image i,
div.tooltip .image img {
    width: 100px;
    height: 100px;
    object-fit: scale-down;
    padding: 2px;
    border-radius: 50%;
    opacity: 1;
    background-color: rgb(255, 255, 255);
    filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.7));
}

div.tooltip table {
    padding: 0 0 0 10px;
    margin-right: 10px;
    margin-top: 5px;
    border-spacing: 0;
}

div.tooltip table th {
    text-align: center;
    vertical-align: top;
    padding: 0 5px 0 0;
}

div.tooltip table td {
    text-align: right;
    padding: 0 0 0 5px;
}

div.tooltip .name {
    font-size: 16px;
    margin-right: 10px;
    padding-left: 10px;
    color: rgb(0, 0, 0);
}

div.tooltip .date {
    font-size: 14px;
    color: rgb(127, 127, 127);
}

/* Fullscreen */
[fullscreen] .webtrees-fan-fullscreen-container .wt-page-content {
    padding: 0;
}

[fullscreen] .webtrees-fan-fullscreen-container .btn-fullscreen span:nth-child(1) {
    display: none;
}

[fullscreen] .webtrees-fan-fullscreen-container .btn-fullscreen span:nth-child(2) {
    display: inline-block;
}

[fullscreen] .webtrees-fan-fullscreen-container #exportPNG {
    display: none;
}

[fullscreen] .webtrees-fan-fullscreen-container #exportSVG {
    display: none;
}

[fullscreen] .webtrees-fan-chart-container {
    min-height: 100dvh;
    max-height: 100dvh;
}
