/* Form */
#webtrees-fan-chart-form .col-form-label,
#webtrees-fan-chart-form .range-input {
    display: flex;
}

#webtrees-fan-chart-form .custom-range {
    width: auto;
    padding-top: 4px;
    flex-grow: 100;
}

#webtrees-fan-chart-form .custom-range-value {
    width: auto;
    height: 26px;
    flex-grow: 0;
    color: rgb(255, 255, 255);
    line-height: 16px;
    text-align: center;
    border-radius: 3px;
    padding: 5px 10px;
    margin-left: 10px;
}

#webtrees-fan-chart-form .more {
    position: absolute;
    left: 10px;
}

#webtrees-fan-chart-form #showMoreOptions.collapsing {
    transition: none;
}


/* SVG */
#webtrees-fan-chart-container {
    position: relative;
    /*font-family: Arial, 'Microsoft Sans Serif', sans-serif;*/
    font-size: unset;
    display: flex;
    flex: auto;
}

#webtrees-fan-chart-container svg {
    display: block;
    margin: auto;
    cursor: grab;
    filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.2));
}

#webtrees-fan-chart-container .rtl {
    direction: rtl !important;
    unicode-bidi: bidi-override !important;
}

#webtrees-fan-chart-container svg:active {
    cursor: grabbing;
}

#webtrees-fan-chart-container svg text {
    font-weight: bold;
}

/* Unset any style from our transition helper classes */
#webtrees-fan-chart-container svg .new,
#webtrees-fan-chart-container svg .remove,
#webtrees-fan-chart-container svg .update,
#webtrees-fan-chart-container svg .old {
    all: unset;
}

#webtrees-fan-chart-container svg .person.available {
    cursor: pointer;
}

#webtrees-fan-chart-container svg .person.hover {
    filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.3));
    filter: url('#drop-shadow');
}

#webtrees-fan-chart-container svg .person .arc path {
    fill: rgb(235, 235, 235);
    stroke: rgb(225, 225, 225);
    stroke-width: 2px;
}

#webtrees-fan-chart-container svg .person.available .arc path {
    fill: rgb(250, 250, 250);
}

#webtrees-fan-chart-container svg .name .preferred {
    text-decoration: underline;
}

#webtrees-fan-chart-container svg .name .alternativeName {
    fill: rgb(127, 127, 127);
    font-weight: normal;
    direction: ltr;
    unicode-bidi: normal;
}

#webtrees-fan-chart-container svg .name .date {
    fill: rgb(127,127,127);
    font-weight: normal;
    direction: ltr;
    unicode-bidi: plaintext;
}


/* Overlay */
#webtrees-fan-chart-container div.overlay {
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    border: 0;
    font: 10px sans-serif;
    background: rgba(0, 0, 0, 0.5);
    pointer-events: none;
    transition: opacity ease-in-out;
    transition-duration: 0s;
}

#webtrees-fan-chart-container div.overlay .tooltip {
    font-size: 22px;
    color: rgb(255, 255, 255);
    position: relative;
    margin: 0;
    top: 50%;
    /*-webkit-transform: translateY(-50%);*/
    /*-ms-transform: translateY(-50%);*/
    transform: translateY(-50%);
    opacity: 1;
    text-align: center;
}
