#page-fan #fan_chart {
    position: relative;
    /*font-family: 'Microsoft Sans Serif', Arial, sans-serif;*/
    font-size: unset;
    display: flex;
    flex: auto;
}

/* Center form labels horizontally and vertically */
#page-fan .col-form-label {
    display: flex;
    /*align-items: center;*/
    /*justify-content: center;*/
}

#page-fan .range-input {
    display: flex;
}

#page-fan .custom-range {
    width: auto;
    padding-top: 4px;
    flex-grow: 100;
}

#page-fan .custom-range-value {
    width: auto;
    height: 26px;
    flex-grow: 0;
    color: rgb(255, 255, 255);
    line-height: 16px;
    text-align: center;
    border-radius: 3px;
    padding: 5px 10px;
    margin-left: 10px;
}

#page-fan .more {
    position: absolute;
    left: 10px;
}

#page-fan #showMoreOptions.collapsing {
    transition: none;
}

#page-fan svg {
    display: block;
    margin: auto;
    cursor: -webkit-grab;
    cursor: -moz-grab;
    cursor: grab;
    -webkit-filter: drop-shadow(3px 1px 3px rgba(0, 0, 0, 0.4));
    filter: drop-shadow(3px 1px 3px rgba(0, 0, 0, 0.4));
}

#page-fan .rtl {
    direction: rtl !important;
    unicode-bidi: bidi-override !important;
}

#page-fan svg:active {
    cursor: -webkit-grabbing;
    cursor: -moz-grabbing;
    cursor: grabbing;
}

#page-fan svg text {
    font-weight: bold;
}

/* Unset any style from our transition helper classes */
#page-fan svg .new,
#page-fan svg .remove,
#page-fan svg .update,
#page-fan svg .old {
    all: unset;
}

#page-fan svg .person.available {
    cursor: pointer;
}

#page-fan svg .person .arc path {
    fill: rgb(240, 240, 240);
    stroke: rgb(225, 225, 225);
    stroke-width: 2px;
}

#page-fan svg .person.hover .arc path {
    fill: rgb(250, 250, 250);
}

#page-fan svg .person.available .arc path {
    fill: rgb(250, 250, 250);
}

#page-fan svg .person.available.hover .arc path {
    fill: rgb(240, 240, 240);
}

#page-fan svg .person text tspan.preferred {
    text-decoration: underline;
}

#page-fan svg .label {
    font-weight: normal;
}

#page-fan svg .label .alternativeName {
    fill: rgb(127, 127, 127);
    font-weight: normal;
    direction: ltr;
    unicode-bidi: normal;
}

#page-fan svg .label .date {
    fill: #7f7f7f;
    font-weight: normal;
    direction: ltr;
    unicode-bidi: plaintext;
}

#page-fan svg rect.background {
    fill: none;
    pointer-events: all;
}

#page-fan div.overlay {
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    border: 0;
    font: 10px sans-serif;
    background: rgba(0, 0, 0, 0.5);
    pointer-events: none;
    transition: opacity ease-in-out;
    transition-duration: 0s;
}

#page-fan div.overlay .tooltip {
    font-size: 22px;
    color: white;
    position: relative;
    margin: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    opacity: 1;
    text-align: center;
}
