/* SVG export styles */
#webtrees-fan-chart-container svg {
    /* Native font stack: see https://www.smashingmagazine.com/2015/11/using-system-ui-fonts-practical-guide/ */
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

#webtrees-fan-chart-container svg text {
    font-weight: bold;
}

#webtrees-fan-chart-container svg .person .arc path {
    fill: rgb(235, 235, 235);
    stroke: rgb(225, 225, 225);
    stroke-width: 2px;
}

#webtrees-fan-chart-container svg .person.available .arc path {
    fill: rgb(250, 250, 250);
}

#webtrees-fan-chart-container svg .name .preferred {
    text-decoration: underline;
}

#webtrees-fan-chart-container svg .name .alternativeName {
    fill: rgb(127, 127, 127);
    font-weight: normal;
    direction: ltr;
    unicode-bidi: normal;
}

#webtrees-fan-chart-container svg .name .date {
    fill: rgb(127, 127, 127);
    font-weight: normal;
    direction: ltr;
    unicode-bidi: plaintext;
}

div.tooltip {
    position: absolute;
    text-align: center;
    width: auto;
    max-width: 325px;
    height: auto;
    padding: 15px 5px;
    font: 12px sans-serif;
    background: rgb(240, 240, 240);
    border: 2px solid rgb(127, 127, 127);
    border-radius: 10px;
    pointer-events: none;
    filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.7));
}

div.tooltip .image {
    position: absolute;
    left: -30px;
    top: -30px;
    opacity: 1;
    width: 100px;
    height: 100px;
}

div.tooltip .image i,
div.tooltip .image img {
    width: 100px;
    height: 100px;
    object-fit: scale-down;
    padding: 2px;
    border-radius: 50%;
    opacity: 1;
    background-color: rgb(255, 255, 255);
    filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.7));
}

div.tooltip table {
    padding: 0 0 0 80px;
    margin-right: 10px;
    margin-top: 5px;
    border-spacing: 0;
}

div.tooltip table th {
    text-align: center;
    vertical-align: top;
    padding: 0 5px 0 0;
}

div.tooltip table td {
    text-align: right;
    padding: 0 0 0 5px;
}

div.tooltip .name {
    font-size: 16px;
    margin-right: 10px;
    padding-left: 80px;
    color: rgb(0, 0, 0);
}

div.tooltip .date {
    font-size: 14px;
    color: rgb(127, 127, 127);
}
