/* SVG export styles */
#webtrees-fan-chart-container svg {
    /* Native font stack: see https://www.smashingmagazine.com/2015/11/using-system-ui-fonts-practical-guide/ */
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

#webtrees-fan-chart-container svg text {
    font-weight: bold;
}

#webtrees-fan-chart-container svg .person .arc path {
    fill: rgb(235, 235, 235);
    stroke: rgb(225, 225, 225);
    stroke-width: 2px;
}

#webtrees-fan-chart-container svg .person.available .arc path {
    fill: rgb(250, 250, 250);
}

#webtrees-fan-chart-container svg .name .preferred {
    text-decoration: underline;
}

#webtrees-fan-chart-container svg .name .alternativeName {
    fill: rgb(127, 127, 127);
    font-weight: normal;
    direction: ltr;
    unicode-bidi: normal;
}

#webtrees-fan-chart-container svg .name .date {
    fill: rgb(127, 127, 127);
    font-weight: normal;
    direction: ltr;
    unicode-bidi: plaintext;
}
