/* SVG export styles */
.webtrees-fan-chart-container svg {
    min-height: 50dvh;
}

.webtrees-fan-chart-container svg g.person g.color path.female {
    fill: var(--sex-f-bg, rgb(233, 218, 241));
}

.webtrees-fan-chart-container svg g.person g.color path.male {
    fill: var(--sex-m-bg, rgb(237, 247, 253));
}

.webtrees-fan-chart-container svg g.person g.color path.unknown {
    fill: var(--sex-u-bg, rgb(255, 255, 255));
}

.webtrees-fan-chart-container svg g.person g.arc path {
    fill: rgb(235, 235, 235);
    stroke: rgb(225, 225, 225);
    stroke-width: 1px;
}

.webtrees-fan-chart-container svg g.person.available g.arc path {
    fill: rgb(250, 250, 250);
}

.webtrees-fan-chart-container svg g.name .wt-chart-box-name-alt {
    fill: rgb(127, 127, 127);
    font-weight: normal;
    direction: ltr;
    unicode-bidi: normal;
}

.webtrees-fan-chart-container svg g.name .date {
    fill: rgb(50, 50, 50);
    font-weight: normal;
    direction: ltr;
    unicode-bidi: plaintext;
}

.webtrees-fan-chart-container svg g.person.depth-0 .date {
    font-size: 14px;
}

.webtrees-fan-chart-container svg .wt-chart-box-name {
    fill: rgb(50, 50, 50);
}

.webtrees-fan-chart-container svg .wt-chart-box-name-alt {
    fill: rgb(50, 50, 50);
}

.webtrees-fan-chart-container svg .wt-chart-box-name:hover:not(.wt-chart-box-name-alt) {
    fill: var(--link-color-hover);
}
